
/**********************
******   FONTS   ******
**********************/

/* Icon font */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/**********************
******   HTML5   ******
**********************/

body {
	background: url('../img/BG/noisy_grid_small.png');
	color: #111;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif ;
	font-weight: 200;
	margin: 0;
}

/***********************
******   GLOBALS   *****
***********************/

a {
	text-decoration: none;
	border: none;
	color: #111;
}

.clear {
	clear: both;
}

/**********************
******   HEADER   *****
**********************/

#headerWrapper {
	height: 80px;
}

#topMenu {
	width: 1200px;
	display: block;
	margin: 15px auto 30px;
}

header h1 {
	text-align: center;
	font-family: 'Poiret One', "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif ;
	font-weight: 100;
	font-size: 3em;
	letter-spacing: 1px;
	float: left;
	margin: 0;
}

.titleOrange {
	color: orange;
	margin-left: 25px;
}

/*menu */
nav {
	float: right;
	margin-top: 22px;
}

nav a {
	color: #555;
	padding: 10px 15px;
	margin-left: 5px;
	font-size: 1.2em;
	text-transform: uppercase;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif ;
}

nav .active {
	text-decoration: none;
	background: rgba(0,0,0,0.8);
	color: #ddd;
}

nav a:hover {
	text-decoration: none;
	background: rgba(0,0,0,0.8);
	color: #ddd;
}



/*********************
******   INTRO   *****
*********************/

#introWrapper {
	background: url('../img/BG/noisy_grid_smallBlack.png');
	height: 300px;
}

.greenLine {
	height: 2px;
	position: relative;
	top: 123px;
	background: -webkit-linear-gradient(left, olive, rgba(68,68,68,0));
	background: linear-gradient(to right, olive, rgba(68,68,68,0));
}

#intro {
	position: relative;
	top: 125px;
	width: 550px;
	margin: auto;
}

#intro h1 {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif ;
	color: #ddd;
	font-weight: 200;
	font-size: 1.5em;
}

.greenLineInv {
	height: 2px;
	position: relative;
	top: 125px;
	background: -webkit-linear-gradient(left, rgba(68,68,68,0), olive);
	background: linear-gradient(to right, rgba(68,68,68,0), olive);
}


/****************************
******   MAIN CONTENT   *****
****************************/

#main {
	width: 1200px;
	margin: 40px auto;
}

#main h1 {
	font-family: 'Poiret One', "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif ;
	font-size: 1.7em;
	font-weight: 100;
	margin: 5px 0;
	clear: both;
}

.horLine {
	height: 2px;
	background: -webkit-linear-gradient(left, orange, rgba(68,68,68,0));
	background: linear-gradient(to right, orange, rgba(68,68,68,0));
}


/*******************************
******   Recent projects   *****
*******************************/

#recentWorkSection {
	width: 880px;
	margin: 30px auto;
}

#latestWork {
	height: 720px;
}

#latestWork img{
	margin: 10px auto 0;
	padding: 5px;
	width: 870px;
	border: solid 1px black;
}

.recentWork {
	width: 400px;
	height: 400px;
	float: left;
	color: #111;
}

.recentWork.left {
	margin-right: 40px;
}

.recentWork.right {
	margin-left: 40px;
}

.recentWork img {
	height: 223px;
}

.textBelow {
	/*width: 400px;*/
	font-size: 1em;
	font-weight: 400;
	line-height: 19px;
	padding: 5px;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif ;
	color: #111;
	z-index: -1;
}

#recentWorkSection h3 {
	font-size: 1.5em;
	font-weight: 200;
	line-height: 20px;
	border-bottom: 1px solid #111;
	padding-bottom: 3px;
	margin-bottom: 12px;
}

#recentWorkSection h2 {
	font-size: 1.3em;
	font-weight: 200;
	line-height: 20px;
	border-bottom: 1px solid #111;
	padding-bottom: 3px;
	margin-bottom: 12px;
}



/*************************
******   Interests   *****
*************************/
#about {
	clear: both;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif ;
	font-weight: 200;
}

#about h2 {
	font-size: 1.5em;
	font-weight: 200;
	line-height: 20px;
	margin-left: 20px;
}

#insterestsContent {
	width: 700px;
	margin: 50px auto 100px;
}

#insterestsContent h3 {
	font-style: italic;
	font-size: 1.1em;
	font-weight: 200;
	margin: 0 0 0 10px;
}


#insterestsContent .clickMe {
	height: 60px;
	margin: 20px 70px 0;
}

#insterestsContent .clickMe img {
	float: left;
	margin-top: 10px;
}

#insterestsContent .clickMe p {
	margin-left: 50px;
	font-family: "Nothing You Could Do";
	font-weight: 100;
	font-size: 2em;
}

#insterestsContent ul {
	list-style: none;
	padding:0;
	margin: 0;
}

#insterestsContent ul li {
	padding: 10px;
	border: 1px solid rgb(138,138,0);
	margin-top: -1px;
}

#insterestsContent ul li:hover {
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}


.interestDiv {
	margin-left: 40px;
	height: 0;
	overflow: hidden;
}

.interestDiv.active {
	height: 100%;
}



/*********************
******   About   *****
*********************/

#aboutIntro {
	margin-left: 30px;
}

#aboutIntro a {
	text-decoration: underline;
}

#aboutContent {
	width: 1010px;
	margin: auto;
}

#aboutContent h3 {
	font-style: italic;
	font-size: 1.1em;
	font-weight: 200;
	margin: 0 0 0 10px;
}

#aboutContent p {
	margin-left: 30px;
}

#aboutContent .clickMe {
	height: 60px;
	margin: 20px 70px 0;
}

#aboutContent .clickMe img {
	float: left;
	margin: 10px;
}

#aboutContent .clickMe p {
	margin-left: 50px;
	font-family: "Nothing You Could Do";
	font-weight: 100;
	font-size: 2em;
}



#careerPath {
	margin: 0px 30px;
	clear: both;
	float: left;
}

/* Icomoon font */
#aboutContent .arrow {
	display: block;
	color: orange;
	font-family: 'icomoon';
	font-size: 3em;
	text-align: center;
	padding: 15px 0;
}

#careerPath h3 {
	text-align: center;
	font-style: normal;
	color: black;
	border: 1px solid #000;
	width: 240px;
	padding: 15px 0;
	margin: 15px 0;
}

#aboutContent div h3:hover {
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

#aboutContent div h3.active {
	background: rgba(0, 0, 0, 0.4);
}

#descriptionsWrapper {
	float: left;
}




#descriptions {
	/*color: white;*/
	width: 600px;
	height: 656px;
	margin: 15px 0 0 40px;
	padding: 30px;
	font-weight: 200;	border: 1px solid black;
	text-align: justify;
}

#descriptions p {
	padding: 0;
	margin: 0;
}

#clickMe {
	height: 100px;
	text-align: center;
	font-size: 2em;
}

#mechEng img {
	width: 99px;
	height: 182px;
	margin: 0 230px 30px;
}

#cuEng img {
	width: 250px;
	height: 66px;
	padding: 10px;
	background: white;
	margin: 15px 160px 40px;
}

#TAC img {
	margin: 0 100px 25px;
	width: 400px;
}
/*.lmsLogo {
	width: 250px;
	height: 66px;
	padding: 10px;
	background: white;
	margin: 0 auto 25px;
}*/

#MBA img {
	padding: 10px;
	background: white;
	/*border-radius: 5px;*/
	margin: 15px 0 35px 240px;
}

#about #descriptionsWrapper .hidden {
	display: none;
}


footer {
	width: 1200px;
	clear: both;
	margin: auto;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif ;
	font-size: 1.2em;
	font-weight: 200;
}

#footer-copyright {
	float: left;
	margin: 100px 0 50px;
}

#footer-DesignBy {
	float: right;
	margin: 100px 0 50px;
}

#footer-DesignBy a {
	text-decoration: underline;
}









@media only screen and (min-width: 0px) and (max-width: 1250px) {

	#topMenu {
		width: 900px;
		margin: 20px auto;
	}

	#main {
		width: 900px;
	}

	#descriptions {
		width: 470px;
	}

	#mechEng img {
		margin: 10px 185px 30px;
	}

	#cuEng img {
		margin: 10px 110px 30px;
	}

	#TAC img {
		margin: 0 100px 25px;
		width: 300px;
	}

	#MBA img {
		margin: 10px 185px 30px;
	}

	footer {
		width: 900px;
	}
}





